<footer class="bg-verde-cocina text-white py-10">
    <div class="text-center mb-6">
        <h4 class="text-lg font-bold mb-2">Información de Contacto</h4>
        <p><span class="font-bold">📞</span> Teléfono: (952) 456789</p>
        <p><span class="font-bold">✉️</span> Email: contacto@recetasdeliciosas.com</p>
        <p><span class="font-bold">📍</span> Dirección: Calle del Sabor, 123, Málaga, España</p>
    </div>
    <hr class="border-gray-600 my-4">
    <div class="flex flex-wrap justify-between items-center mx-auto px-6">
        <div>
            <img src="./assets/images/logo_cocina2.png" alt="Logo Footer" class="h-12">
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="./index.html" class="hover:text-green-400">Home</a></li>
                <li><a href="./recetas.html" class="hover:text-green-400">Recetas</a></li>
                <li><a href="./concursantes.html" class="hover:text-green-400">Concursantes</a></li>
            </ul>
        </nav>
        <div class="flex space-x-4">
            <a href="#"><img src="./assets/images/twitter.svg" alt="Twitter" class="h-6"></a>
            <a href="#"><img src="./assets/images/instagram.svg" alt="Instagram" class="h-6"></a>
            <a href="#"><img src="./assets/images/youtube.svg" alt="YouTube" class="h-6"></a>
        </div>
    </div>
</footer>
