<header class="flex items-center justify-between p-6 bg-verde-cocina text-white">
    <div class="flex-shrink-0">
        <img src="./assets/images/logo_cocina2.png" alt="Logo Cocina" class="h-12">
    </div>
    <nav>
        <ul class="flex space-x-6">
            <li><a href="./recetas.html" class="text-white hover:text-green-400">Recetas</a></li>
            <li><a href="./concursantes.html" class="text-white hover:text-green-400">Concursantes</a></li>
        </ul>
    </nav>
</header>
